<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Icones Google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Ckeditor-->
    <script src="/js/ckeditor/ckeditor.js"></script>

    <title>Edita Texto</title>
</head>
<body>

<!--Navbar-->
<th:block th:include="BarraNavegacao"></th:block>
<br>
<h3 class="text-center">Editar Texto</h3>
<hr>
<br>
<br>
<div class="container">

    <!--Conteudo-->

    <div class="container">
        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
            <span th:text="${mensagem}"></span>
        </div>
        <form method="post" th:action="@{EditarTexto}">
            <input  name="Id" hidden th:value="${texto.Id}">
            <div class="form-group">
                <label for="nomeDocumento">Nome Documento</label>
                <input id="nomeDocumento" name="Nome" type="text" class="form-control col-6" th:value="${texto.Nome}">
                <small><p class="text-danger">Obs.: Não usar caracteres especiais no Título do documento!</p></small>
             </div>
            <textarea id="txtArea" type="text" class="form-control" name="Texto">
                <p th:text="${texto.Texto}"></p>
            </textarea>
            <button type="submit" class="btn btn-primary mt-2  btn-lg">Salvar <i class="material-icons mt-1">save</i></button>
        </form>
    </div>
</div>
<script> CKEDITOR.replace('txtArea'); </script>
</body>
</html>