<html xmlns:th="http://thymeleaf.org">
<head>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--SummerNote-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
    <!--Icones Google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Edita Texto</title>
</head>
<body>
<!--Navbar-->
<th:block th:include="BarraNavegacao"></th:block>
<br>
<h3 class="text-center">Editar Texto</h3>
<hr>
<br>
<br>
<div class="container">

    <!--Conteudo-->

    <div class="container">
        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
            <span th:text="${mensagem}"></span>
        </div>
        <form method="post">
            <div class="form-group">
                <label for="nomeDocumento">Nome Documento</label>
                <input th:text="${texto.Nome}" id="nomeDocumento" name="Nome" type="text" class="form-control" placeholder="Nome do seu documento aqui..."/>
            </div>
            <textarea id="summernote" type="text" th:utext="${texto.Texto}"  class="form-control" name="Texto">
            </textarea>
            <button type="submit" class="btn btn-primary mt-2  btn-lg">Salvar <i class="material-icons mt-1">save</i></button>
        </form>
    </div>
</div>

<script>
   $('#summernote').summernote({
        tabsize: 2,
        height: 300
   });
   $(document).ready(function(){
       var html =  document.getElementById("novoTexto").innerHtml;
       document.getElementById("novoTexto").innerHtml = "<strong>" + html +"1"+"</strong>"
   })
</script>
</body>
</html>