<html xmlns:th="http://thymeleaf.org">
<head>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--SummerNote-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
    <!--Icones Google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Meu Texto</title>
</head>
<body>
<!--Navbar-->
<th:block th:include="BarraNavegacao"></th:block>
<br>
<h3 class="text-center">Documento <span th:text="${texto.Nome}"></span></h3>
<hr>
<br>
<br>
<div class="container">

    <!--Conteudo-->

    <div class="container">

        <p class="card-text"><span th:utext="${texto.Texto}"></span></p>
    </div>
</div>

</body>
</html>